@font-face
{
    font-family: 'avenirBook';
    src: url('../fonts/Avenir-Book.woff');
}
@font-face
{
    font-family: 'avenirBlack';
    src: url('../fonts/Avenir-Black.woff');
}

@font-face
{
    font-family: 'avenir';
    src: url('../fonts/Avenir-Light.woff');
}

body{
    font-family: 'avenirBook';
}
